* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background-color: white;
  color: black;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

body.black {
  background-color: black;
  color: white;
}

body.black .header {
  background-color: rgba(0, 0, 0,0.8) !important;
}

.header {
  background-color: rgba(255, 255, 255,0.9) !important;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

#logo {
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  color: gold;
}

.dark-mode {
  background-color: inherit !important;
  color: inherit !important;
  border: none;
  margin-left: -5px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 1s ease, color 1s ease;
}

.light-mode {
  background-color: inherit !important;
  color: inherit !important;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 1s ease, color 1s ease;
}

.logo-image-container {
  display: flex;
  justify-content: flex-end;
}

.logo-image {
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: flex-end;
}

.navbar a {
  font-size: 18px;
  font-weight: 600;
  color: gold;
  text-decoration: none;
  margin-right: 15px;
  position: relative;
}

.navbar a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: gold;
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: width 0.3s ease;
}

.navbar a:hover::after {
  width: 100%;
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
  margin-top: 30px;
  max-width: fit-content;
}

.home-content {
  max-width: fit-content;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 50px;
  margin-bottom: 20px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: gold;
}

.home-content p {
  font-size: 16px;
  margin: 20px 0 40px;
  line-height: 1.6;
  font-weight: 500;
  max-width: 400px;
}

.skills-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skills-div {
  background-color: transparent;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  transition: .3s;
}

.skills-div h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 50px;
  color: gold;
}

#skills {
  list-style: none;
  padding: 0;
  margin: 0;
}

#skills li {
  margin: 10px 0;
  font-size: 1.2rem;
}

i {
  font-size: 25px;
  margin: 10px;
  transition: .3s;
  text-decoration: none;
}

.projects-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projects-div {
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  transition: .3s;
}

.projects-div h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 70px;
  color: gold;
}

.projects-div h2 {
  margin-top: 30px;
}

#projects {
  list-style: none;
  padding: 0;
  margin: 0;
}

.proj1-img {
  width: 300px;
  margin-top: 20px;
}

.proj1-description {
  width: 100%;
  margin-top: 20px;
}

.proj1-button {
  width: 100px;
  height: 25px;
  margin-top: 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 100px;
  transition: .5s;
  justify-content: flex-end;
  margin-bottom: 20px;
  position: relative;
}

.proj1-button:hover {
  cursor: pointer;
  background-color: black;
  color: #ededed;
}

.project-2 {
  margin-top: 100px;
}

.certs-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.certs-div {
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  transition: .3s;
}

.certs-div h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 70px;
  color: gold;
}

.certs-div h2 {
  margin-top: 30px;
}

.certs-div p {
  width: 70vw;
}

#certs {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cert-img {
  width: 50%;
  margin-top: 20px;
}

.cert-description {
  width: 100%;
  margin-top: 20px;
}

.certs-section a {
  position: relative;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  transition: color 0.3s ease;
}

.certs-section a:hover {
  color: gold;
}

.contact-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-div {
  margin-top: 100px;
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  transition: .3s;
}

.contact-div h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 140px;
  color: gold;
}

#contact {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.contact-div p {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
}

.contact-div a {
  text-decoration: none;
  color: black;
  transition: 0.1s;
}

body.black .contact-div a {
  text-decoration: none;
  color: white;
  transition: 0.1s;
}

.contact-div a:hover {
  color: gold;
}

body.black .contact-div a:hover {
  color: gold;
}

p i {
  font-size: small;
}

.email {
  color: gold;
}

hr {
  margin-top: 15px;
  margin-bottom: -6px;
  height: 5px;
  background-color: gold;
  border: none;
  border-radius: 20px;
}

.fa-envelope {
  color: gold;
  font-size: 17px;
}

.form-container {
  width: 40%;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
}

.form-container button {
  width: 100%;
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.form-container button:hover {
  background-color: #0056b3;
  transform: scale(1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.form-container h2,h3 {
  margin-bottom: 10px;
  font-weight: normal;
}
